.spinner,
.spinner-inline {
  border: 2px solid #ccc;
  border-top-color: #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
}
.spinner { margin: 20px auto; }
@keyframes spin { from {transform: rotate(0);} to {transform: rotate(360deg);} }
