.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: #fff;
  min-width: 200px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  background: #eee;
}
.modal-body {
  padding: 8px;
  overflow: auto;
}
.modal-close {
  background: none;
  border: none;
  cursor: pointer;
}
