
# OS/Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/
# Archives & junk
*.log
*.tmp
*.bak
Thumbs.db
# Web (no Node in this project, but ignore if someone sins)
node_modules/
.npm/
.eslintcache
.dist/
dist/
.out/
.cache/
# Python
__pycache__/
*.pyc
